src/pug/index.pug
doctype html
html(lang="en" dir="ltr")
    head
        title Main
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style(type='text/css')
            include ../css/index.css
    body
        div.register-card-template
            div.register-card-header
                img(src='./images/fridaylogo.png')
                h1 Регистрационная карточка /Registration form
                h1 Заполнять чётко - Fill in carefully
            table.table
                tr
                    td(width='33%')
                        div.td-content Комната
                        div.flex-row
                            div.td-content Room №
                            div.td-content.max-width
                                div.line
                    td(width='33%')
                    td(width='34%')
            table.table
                each item in [{ en: 'Date of arrival', ru: 'Прибытие (дата, время)' }, { en: 'Date of departure', ru: 'Отъезд (дата, время)' }]
                    tr 
                        td(width='50%')
                            div.td-content= item.ru
                            div.flex-row
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            table.table
                each item in [{ en: 'Surname', ru: 'Фамилия' }, { en: 'Second name', ru: 'Имя' }, { en: 'Second name', ru: 'Отчество' }]
                    tr
                        td(width="100%")
                            div.td-content= item.ru
                            div.flex-row 
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            table.table
                tr
                    each item in [{ en: 'Date of birth', ru: 'Дата рождения' }, { en: 'Nationality', ru: 'Гражданство' }]
                        td(width="50%")
                            div.td-content= item.ru
                            div.flex-row
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            table.table
                each item in [{ en: 'Surname', ru: 'Паспорт или документ, удостоверяющий личность (когда и кем выдан)' }, { en: 'Telephone, e-mail', ru: 'Телефон, адрес электронной почты' }, { en: 'Purpose of visiting', ru: 'Цель поездки' }]
                    tr
                        td(width="100%")
                            div.td-content= item.ru
                            div.flex-row
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            div.conditions
                div.conditions-container.conditions-container-left
                    table
                        tr
                            td
                            td(width='100%')
                                div.title-p Я подтверждаю правильность звполнения регистрационной карты и гарантирую оплату по указанному тарифу. С кредитной политикой отеля ознакомлен.
                        tr
                            td
                            td(width='100%')
                                div.title-p Я ознакомлен с тем, что в стоимость проживания не включён завтрак и налоги. Все дополнительные услуги оплачиваются согласно прейскурантов отдельно.
                        tr
                            td
                            td(width='100%')
                                div.title-strong Я ознакомлен и согласен с правилами проживания:
                        tr
                            td
                                div.title-strong 1
                            td(width='100%')
                                div.title-p При поселении я должен внести на свой гостиничный счёт сумму в размере полной стоиости проживания на указанные даты проживания.
                        tr
                            td
                                div.title-strong 2
                            td(width='100%')
                                div.title-p По правилам отеля гость(-и) могут находиться в Вашем номере до 23:00.
                        tr
                            td
                                div.title-strong 3
                            td(width='100%')
                                div.title-p Администрация отеля не несёт ответственность за вещи, не сданные на ответственное хранение.
                        tr
                            td
                                div.title-strong 4
                            td(width='100%')
                                div.title-p В случае не выезда из номера после расчётного часа без согласованияс администрацией, администрация гостинницы имеет право осуществить выселение даже при моём физическом отсутствии.
                        tr
                            td
                                div.title-strong 5
                            td(width='100%')
                                div.title-p Ранний выезд возможен без начисления штрафа только при предварительном уведомлении администрации за 24 часа. При выезде из номера ранее указанной даты без уведомления, снимается размер суточного проживания "штрафные санкции".
                        tr
                            td
                                div.title-strong 6
                            td(width='100%')
                                div.title-p Администрацией запрещено проживание с животными.
                        tr
                            td
                                div.title-strong 7
                            td(width='100%')
                                div.title-p Курение в номере запрещено
                        tr
                            td
                            td(width='100%')
                                div.title-p Настоящим я даю согласен на обработку моих персональных данных исключительно с целью выполнения требований законодательством Украины. С правилами, обязательствами и требованиями законодательства об охране персональных данных ознакомлен.
                        tr
                            td
                            td(width='100%')
                                div.title-p Настоящим я подтверждаю, что был ознакомлен с правилами в отеле, а также с правилами противопожарной безопасности.
                div.conditions-container.conditions-container-right
                    table
                        tr
                            td
                            td(width='100%')
                                div.title-p I confirm that the registration card was filled out correctly, I have been informed with the hotel credit policy.
                        tr
                            td
                            td(width='100%')
                                div.title-p I am acquainted that the breakfast and taxes doesn`t included in the cost of accomodation. All additional services are paid separately according to the price-lists.
                        tr
                            td
                            td(width='100%')
                                div.title-strong I am acquainted and agree with accomodation rules.
                        tr
                            td.title-strong 1
                            td(width='100%')
                                div.title-p At the settlement i should grant into the hotel account the sum at a rate of an overall cost of accomodation for the specified dates. Otherwise i should change accomodation dates.
                        tr
                            td.title-strong 2
                            td(width='100%')
                                div.title-p In accordance with hotel rules a guest/guests have the right to stay in your room till 11:00pm.
                        tr
                            td.title-strong 3
                            td(width='100%')
                                div.title-p Hotel Administration are not in charge for the things which haven`t been stored in the Hotel Storage room.
                        tr
                            td.title-strong 4
                            td(width='100%')
                                div.title-p In case if not departure from number after checkout time without coordination with administration, the administration of hotel has the right to carry out eviction even at my phisical absence.
                        tr
                            td.title-strong 5
                            td(width='100%')
                                div.title-p Early departure is possible without penalty charge only at the prior notification of administration at 24 hours. At departure from number of earlier named date without notice, the amount of daily accomodation "penalties" are taken off.
                        tr
                            td.title-strong 6
                            td(width='100%')
                                div.title-p Accomodation with animals is forbidden by administration.
                        tr
                            td.title-strong 7
                            td(width='100%')
                                div.title-p Smoking in the rooms is forbidden.
            table.table
                tr
                    td(width='100%')
                        div.td-content Подпись
                        div.flex-row
                            div.td-content Signature
                            div.td-content.max-width
                                div.line

build/index.html
<!DOCTYPE html><html lang="en" dir="ltr"><head><title>Main</title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><style type="text/css">@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap);a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;padding:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{-webkit-box-sizing:border-box;box-sizing:border-box;font-family:Roboto,sans-serif!important}body,html{min-height:100%;width:100%}.register-card-template{border:1px solid #000;width:1000px;padding:0 65px 15px}.register-card-header{width:100%;padding:15px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.register-card-header>img{height:100px}h1{font-size:20px;font-weight:900;padding:3px}.table{width:100%}td{padding:2px}div.td-content{font-size:14px;padding:2px;font-weight:900;white-space:nowrap}.max-width{width:100%}.line{width:100%;height:100%;border-bottom:2px solid #000}.flex-row{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.conditions{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.conditions-container{width:100%;padding-top:5px}.title-p{padding-top:5px;padding-bottom:5px;font-size:14px}.conditions-container-right .title-p{padding-top:9px;padding-bottom:9px}.conditions-container-left{padding-right:20px}.title-strong{padding-top:10px;font-weight:900;font-size:14px}</style></head><body><div class="register-card-template"><div class="register-card-header"><img src="./images/fridaylogo.png"><h1>Регистрационная карточка /Registration form</h1><h1>Заполнять чётко - Fill in carefully</h1></div><table class="table"><tr><td width="33%"><div class="td-content">Комната</div><div class="flex-row"><div class="td-content">Room №</div><div class="td-content max-width"><div class="line"></div></div></div></td><td width="33%"></td><td width="34%"></td></tr></table><table class="table"><tr> <td width="50%"><div class="td-content">Прибытие (дата, время)</div><div class="flex-row"><div class="td-content">Date of arrival</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr><tr> <td width="50%"><div class="td-content">Отъезд (дата, время)</div><div class="flex-row"><div class="td-content">Date of departure</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr></table><table class="table"><tr><td width="100%"><div class="td-content">Фамилия</div><div class="flex-row"> <div class="td-content">Surname</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr><tr><td width="100%"><div class="td-content">Имя</div><div class="flex-row"> <div class="td-content">Second name</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr><tr><td width="100%"><div class="td-content">Отчество</div><div class="flex-row"> <div class="td-content">Second name</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr></table><table class="table"><tr><td width="50%"><div class="td-content">Дата рождения</div><div class="flex-row"><div class="td-content">Date of birth</div><div class="td-content max-width"><div class="line"></div></div></div></td><td width="50%"><div class="td-content">Гражданство</div><div class="flex-row"><div class="td-content">Nationality</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr></table><table class="table"><tr><td width="100%"><div class="td-content">Паспорт или документ, удостоверяющий личность (когда и кем выдан)</div><div class="flex-row"><div class="td-content">Surname</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr><tr><td width="100%"><div class="td-content">Телефон, адрес электронной почты</div><div class="flex-row"><div class="td-content">Telephone, e-mail</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr><tr><td width="100%"><div class="td-content">Цель поездки</div><div class="flex-row"><div class="td-content">Purpose of visiting</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr></table><div class="conditions"><div class="conditions-container conditions-container-left"><table><tr><td></td><td width="100%"><div class="title-p">Я подтверждаю правильность звполнения регистрационной карты и гарантирую оплату по указанному тарифу. С кредитной политикой отеля ознакомлен.</div></td></tr><tr><td></td><td width="100%"><div class="title-p">Я ознакомлен с тем, что в стоимость проживания не включён завтрак и налоги. Все дополнительные услуги оплачиваются согласно прейскурантов отдельно.</div></td></tr><tr><td></td><td width="100%"><div class="title-strong">Я ознакомлен и согласен с правилами проживания:</div></td></tr><tr><td><div class="title-strong">1</div></td><td width="100%"><div class="title-p">При поселении я должен внести на свой гостиничный счёт сумму в размере полной стоиости проживания на указанные даты проживания.</div></td></tr><tr><td><div class="title-strong">2</div></td><td width="100%"><div class="title-p">По правилам отеля гость(-и) могут находиться в Вашем номере до 23:00.</div></td></tr><tr><td><div class="title-strong">3</div></td><td width="100%"><div class="title-p">Администрация отеля не несёт ответственность за вещи, не сданные на ответственное хранение.</div></td></tr><tr><td><div class="title-strong">4</div></td><td width="100%"><div class="title-p">В случае не выезда из номера после расчётного часа без согласованияс администрацией, администрация гостинницы имеет право осуществить выселение даже при моём физическом отсутствии.</div></td></tr><tr><td><div class="title-strong">5</div></td><td width="100%"><div class="title-p">Ранний выезд возможен без начисления штрафа только при предварительном уведомлении администрации за 24 часа. При выезде из номера ранее указанной даты без уведомления, снимается размер суточного проживания "штрафные санкции".</div></td></tr><tr><td><div class="title-strong">6</div></td><td width="100%"><div class="title-p">Администрацией запрещено проживание с животными.</div></td></tr><tr><td><div class="title-strong">7</div></td><td width="100%"><div class="title-p">Курение в номере запрещено</div></td></tr><tr><td></td><td width="100%"><div class="title-p">Настоящим я даю согласен на обработку моих персональных данных исключительно с целью выполнения требований законодательством Украины. С правилами, обязательствами и требованиями законодательства об охране персональных данных ознакомлен.</div></td></tr><tr><td></td><td width="100%"><div class="title-p">Настоящим я подтверждаю, что был ознакомлен с правилами в отеле, а также с правилами противопожарной безопасности.</div></td></tr></table></div><div class="conditions-container conditions-container-right"><table><tr><td></td><td width="100%"><div class="title-p">I confirm that the registration card was filled out correctly, I have been informed with the hotel credit policy.</div></td></tr><tr><td></td><td width="100%"><div class="title-p">I am acquainted that the breakfast and taxes doesn`t included in the cost of accomodation. All additional services are paid separately according to the price-lists.</div></td></tr><tr><td></td><td width="100%"><div class="title-strong">I am acquainted and agree with accomodation rules.</div></td></tr><tr><td class="title-strong">1</td><td width="100%"><div class="title-p">At the settlement i should grant into the hotel account the sum at a rate of an overall cost of accomodation for the specified dates. Otherwise i should change accomodation dates.</div></td></tr><tr><td class="title-strong">2</td><td width="100%"><div class="title-p">In accordance with hotel rules a guest/guests have the right to stay in your room till 11:00pm.</div></td></tr><tr><td class="title-strong">3</td><td width="100%"><div class="title-p">Hotel Administration are not in charge for the things which haven`t been stored in the Hotel Storage room.</div></td></tr><tr><td class="title-strong">4</td><td width="100%"><div class="title-p">In case if not departure from number after checkout time without coordination with administration, the administration of hotel has the right to carry out eviction even at my phisical absence.</div></td></tr><tr><td class="title-strong">5</td><td width="100%"><div class="title-p">Early departure is possible without penalty charge only at the prior notification of administration at 24 hours. At departure from number of earlier named date without notice, the amount of daily accomodation "penalties" are taken off.</div></td></tr><tr><td class="title-strong">6</td><td width="100%"><div class="title-p">Accomodation with animals is forbidden by administration.</div></td></tr><tr><td class="title-strong">7</td><td width="100%"><div class="title-p">Smoking in the rooms is forbidden.</div></td></tr></table></div></div><table class="table"><tr><td width="100%"><div class="td-content">Подпись</div><div class="flex-row"><div class="td-content">Signature</div><div class="td-content max-width"><div class="line"></div></div></div></td></tr></table></div></body></html>
